<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout/LayoutClient.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <section class="banner">
        <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/05/banner/Big-banner---1920x450-1920x444.jpg" alt="">

        <div id="carouselExampleControls" class="carousel container slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row row-cols-2">
                        <div class="col">
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/05/banner/Laptop-Gaming-Chung-MB-2-720x220-3.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col">
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/05/banner/Laptop-Gaming-Chung-MB-2-720x220-3.png" class="d-block w-100" alt="...">
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="row row-cols-2">
                        <div class="col">
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/05/banner/720x220-720x220-109.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col">
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/05/banner/720x220-720x220-109.png" class="d-block w-100" alt="...">
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="row row-cols-2">
                        <div class="col">
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/05/banner/720x220-720x220-96.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="col">
                            <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/05/banner/720x220-720x220-96.png" class="d-block w-100" alt="...">
                        </div>
                    </div>

                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <main  class="pb-5">
        <section class="container promo">
            <div class="row row-cols-2 row-cols-xl-4 pt-5">
                <div class="col">
                    <div class="card mb-3 p-2" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn//content/Group-427320176--1--240x240.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Smartphone <br>
                                        Đặc Quyền</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3 p-2" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn//content/Camera-120-x-120-120x120.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Camera giám sát
                                        giá 30%</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3 p-2" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn//content/IMG5617-100x100-1.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Tết Thiếu Nhi
                                        Quà Mê Ly</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3 p-2" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn//content/icon-100x100-31.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Giảm đến 50%+</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container mobile mt-4 pb-3">
            <div class="mobile-logo">
                <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/06/banner/1200x100-1200x100-2.png" alt="">
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 p-2 product">
                <div class="col" th:each="item, iterStat : ${listMobile}">
                    <a th:href="@{'/detail/' + ${item.productId}}" class="text-white">
                    <div class="card shadow-lg mt-2" >
                        <img th:src="@{${item.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center" th:text="${item.name}"></h5>
                            <p class="card-text text-center" th:text="${item.price}"><sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <button class="prev" onclick="plusSlides(`mobile`,-1)">&#10094;</button>
                <button class="next" onclick="plusSlides(`mobile`,1)">&#10095;</button>
            </div>
            <div class="d-grid gap-2 col-6 col-xl-3 mx-auto mt-2">
                <button class="btn btn-secondary" type="button">Xem thêm <i class="fa-solid fa-angle-right"></i></button>
            </div>
        </section>
        <section class="container tivi mt-4 pb-3">
            <div class="tivi-logo">
                <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/05/banner/DT-1200x120.png" alt="">
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 p-2 product">
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/1942/303514/TimerThumb/google-tivi-qled-tcl-4k-65-inch-65q646-(14).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/1942/303225/TimerThumb/smart-tivi-qled-4k-55-inch-samsung-qa55q60c-(28).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/1942/281936/TimerThumb/google-tcl-4k-55-inch-55p635-(51).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/1942/310792/TimerThumb/android-tivi-aqua-4k-55-inch-aqt55d67ug-(20).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/1942/325313/google-tivi-sony-4k-55-inch-k-55s30-thumb-1-550x340.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/1942/273921/TimerThumb/smart-qled-4k-85-inch-samsung-qa85q60b-(94).jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="prev" onclick="plusSlides(`tivi`,-1)">&#10094;</button>
                <button class="next" onclick="plusSlides(`tivi`,1)">&#10095;</button>
            </div>
            <div class="d-grid gap-2 col-6 col-xl-3 mx-auto mt-2">
                <button class="btn btn-secondary" type="button">Xem thêm <i class="fa-solid fa-angle-right"></i></button>
            </div>
        </section>
        <section class="container watch mt-4 pb-3">
            <div class="watch-logo">
                <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/06/campaign/Frame-1-1200x152-2.png" alt="">
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 p-2 product">
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7264/233408/nakzen-sl4105lbk-3-nu-1-600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/7264/296742/smile-kid-sl132-04-tre-em-thumb-600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/7264/271679/smile-kid-sl083-02-tre-em-1.-600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7077/321589/vong-deo-tay-thong-minh-oppo-band-2-den-tn2-600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7264/273176/nakzen-sl9001lbk-7-nu-020422-043250-600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/7264/273177/nakzen-sl9001lrd-7-nu-300322-012217-600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="prev" onclick="plusSlides(`watch`,-1)">&#10094;</button>
                <button class="next" onclick="plusSlides(`watch`,1)">&#10095;</button>
            </div>
            <div class="d-grid gap-2 col-6 col-xl-3 mx-auto mt-2">
                <button class="btn btn-secondary" type="button">Xem thêm <i class="fa-solid fa-angle-right"></i></button>
            </div>
        </section>
        <section class="container tablet mt-4 pb-3">
            <div class="watch-logo">
                <img src="https://cdn.tgdd.vn/2024/04/banner/MOI-RA-MAT-1200x90.png" alt="">
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 p-2 product">
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/522/325506/ipad-air-13-inch-m2-wifi-purple-thumb-600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/522/325513/ipad-pro-11-inch-m4-wifi-black-thumb-600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/522/320989/tcl-tab-10l-gen-2-black-thumb-600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/522/320990/tcl-tab-10-gen-2-thumb-600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/522/247517/iPad-9-wifi-trang-600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-lg mt-2" >
                        <img src="https://cdn.tgdd.vn/Products/Images/522/325501/ipad-air-11-inch-m2-wifi-grey-thumb-600x600.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Zwatch Z6 44mm Đen </h5>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <p class="card-text text-center">3.999.999 <sup>đ</sup></p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Còn 8/10 suất</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="prev" onclick="plusSlides(`tablet`,-1)">&#10094;</button>
                <button class="next" onclick="plusSlides(`tablet`,1)">&#10095;</button>
            </div>
            <div class="d-grid gap-2 col-6 col-xl-3 mx-auto mt-2">
                <button class="btn btn-secondary" type="button">Xem thêm <i class="fa-solid fa-angle-right"></i></button>
            </div>
        </section>
    </main>
</div>

</body>
</html>