<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/LayoutAdmin.html}">
<head>
    <meta charset="UTF-8">
    <title>Order Management</title>
</head>
<body>
<div class="right-main" layout:fragment="content">
    <div class="container p-3">
        <div th:if="${message}">
            <div class="alert alert-success" th:text="${message}"></div>
        </div>
        <div th:if="${errorMessage}">
            <div class="alert alert-danger" th:text="${errorMessage}"></div>
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mt-3">
                <h3>List Orders</h3>
            </div>
            <div class="col mt-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..."
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-success" type="button" id="button-addon2"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <div class="col mt-3 text-end">
                <button type="button" class="btn btn-success"><a th:href="@{/orders/add}" class="text-white">Add Order</a></button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped mt-5">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Freight</th>
                    <th scope="col">Ship Address</th>
                    <th scope="col">Note</th>
                    <th scope="col">Status</th>
                    <th scope="col">Pay</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order, iterStat : ${page.content}">
                    <td th:text="${iterStat.index + page.number * page.size + 1}"></td>
                    <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${order.freight}"></td>
                    <td th:text="${order.shipAddress}"></td>
                    <td th:text="${order.note.length() > 20 ? order.note.substring(0, 30) + '...' : order.note}"></td>
                    <td th:switch="${order.status}">
                        <span th:case="0">Đang xử lý</span>
                        <span th:case="1">Đang vận chuyển</span>
                        <span th:case="2">Đã giao</span>
                    </td>
                    <td th:text="${order.statusCheckout} == false ? 'Chưa thanh toán' : 'Đã thanh toán'"></td>
                    <td>
                        <a th:href="@{'/orders/edit/' + ${order.orderId}}" class="text-white">
                        <button type="button" class="btn btn-primary">
                             <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        </a>
                        <button type="button" class="btn btn-danger ms-3">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination d-flex justify-content-center mt-3">
                    <li class="page-item" th:classappend="${page.first} ? 'disabled'">
                        <a class="page-link" th:href="@{${page.number > 0} ? '/orders?page=' + ${page.number - 1} : '#'}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" th:classappend="${page.number == i} ? ' active'">
                        <a class="page-link" th:href="@{'/orders?page=' + ${i}}" th:text="${i + 1}"></a>
                    </li>
                    <li class="page-item" th:classappend="${page.last} ? 'disabled'">
                        <a class="page-link" th:href="@{${page.number < page.totalPages - 1} ? '/orders?page=' + ${page.number + 1} : '#'}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>
